<div>
    <div class="row">
        <h3>Day of Week and Time Usage Report</h3>
    </div>

    {% for division, teamData in report.data %}
        <div class="row">
            <h4>Division {{ division }}</h4>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Team</th>
                        {% for dayOfWeek in report.daysOfWeek %}
                            <th>{{ dayOfWeek }}</th>
                        {% endfor %}
                        <th>Totals</th>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        {% for dayOfWeek in report.daysOfWeek %}
                            <th>
                                <table class="table border-0 table-sm">
                                    <tr>
                                        {% for slot in report.timeslots %}
                                            <th>{{ slot.time }}</th>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </th>
                        {% endfor %}
                        <th>
                            <table class="table border-0 table-sm">
                                <tr>
                                    {% for slot in report.timeslots %}
                                        <th>{{ slot.time }}</th>
                                    {% endfor %}
                                </tr>
                            </table>
                         </th>
                    </tr>

                    {% for name, stats in teamData %}
                        <tr>
                            <td>{{ name }}</td>
                            {% for dayOfWeek in report.daysOfWeek %}
                                <td>
                                    <table class="table border-0 table-sm">
                                        <tr>
                                            {% for slot in report.timeslots|keys %}
                                                <td>{{ stats[dayOfWeek][slot] }}</td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
     {% endfor %}
</div>