<div>
    <!--
        @todo Use Bootstrap Navbar functionality
    -->
    <div class="row">
        <div class="btn-group" role="group">
            {% set displayClass = (module == 'about') ? "btn-outline-success" : "" %}
            <button class="btn btn-link {{ displayClass }}">
                <a href="{{ path('about') }}">Home</a>
            </button>

            {% set displayClass = (module == 'calendar_schedule') ? "btn-outline-success" : "" %}
            <button class="btn btn-link {{ displayClass }}">
                <a href="{{ path('calendar_schedule') }}">League Schedule</a>
            </button>

            {% set displayClass = (module == 'report_home_and_away') ? "btn-outline-success" : "" %}
            <button class="btn btn-link {{ displayClass }}">
                <a href="{{ path('report_home_and_away') }}">Report - Home &amp; Away</a>
            </button>

            {% set displayClass = (module == 'report_nights_and_times') ? "btn-outline-success" : "" %}
            <button class="btn btn-link {{ displayClass }}">
                <a href="{{ path('report_nights_and_times') }}">Report - Nights &amp; Times</a>
            </button>

            {% set displayClass = (module == 'report_consecutive_times') ? "btn-outline-success" : "" %}
            <button class="btn btn-link {{ displayClass }}">
                <a href="{{ path('report_consecutive_times') }}">Report - Consecutive Slot Usage</a>
            </button>

            {% set displayClass = (module == 'selectable_schedule') ? "btn-outline-success" : "" %}
            <button class="btn btn-link {{ displayClass }}">
                <a href="{{ path('selectable_schedule') }}">Filtered Schedule</a>
            </button>

        </div>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>
